<%= bootstrap_form_for :question, url: questions_path, remote: true do |f| %>
  <div>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit 'Submit Question', :class => 'btn btn-default btn-success' %>
  </div>
<% end %>
