<div class='container'>
<h1>Add a new question:</h1>
<%= render 'form' %>
<%= github_welcome %>

<h1>Questions List:</h1>
<ul id="questions" class="list-inline">
  <%= render @questions %>
</ul>
</div>

